<form [formGroup]="SearchInput">
  <div
    class="w-[1400px] h-[40px] bg-transparent relative top-24 ml-40 search-container"
  >
    <div class="flex justify-between">
      <button (click)="SearchButton()">
        <img src="../../../assets/icon-search.svg" alt="" />
      </button>
      <input
        formControlName="title"
        type="text"
        placeholder="Search for Movie or TV serie"
        class="w-[96%] outline-none bg-transparent caret-secondary font-medium text-white capitalize text-[24px] placeholder:text-gray-400 focus:border-b border-b-[#5A698F] focus:h-[42px]"
      />
    </div>
  </div>
</form>
